.chueasy-no-image-wrapper {
    background-color: #efefef;
}

.chueasy-no-image-wrapper img {
    width: 100%;
}

.chueasy-header-wrapper {
    text-align: center;
    overflow: hidden;
}

/* slider */
.chueasy-slider-wrapper {
    background-color: #ccc;
}

.chueasy-slider-wrapper .s-content {
    background-color: #666;
}

.chueasy-slider-wrapper .s-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    box-sizing: border-box;
}

.chueasy-slider-wrapper .s-nav .s-menu {
    width: 60px;
    height: 60px;
    margin: 4px;
    cursor: pointer;
    background-color: #666;
    border-radius: 4px;
}

.chueasy-slider-wrapper .s-nav .s-menu .s-menu-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.4;
    border-radius: 4px;
}

.chueasy-slider-wrapper .s-nav .s-menu .s-menu-image.s-selected {
    opacity: 1;
}

/* slider image */
.chueasy-slider-image-wrapper {    /* realize an auto-fit square */
    width: 100%;
    height: 0px;
    padding-bottom: 60%;
    position: relative;
}

.chueasy-slider-image-wrapper img {   /* realize the inner image fitting perfectly */
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

.chueasy-slider-image-wrapper .left-arrow {
    position: absolute;
    width: 50px;
    height: 100%;
    background: url("../images/arrow-left.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 6px center;
    cursor: pointer;
}

.chueasy-slider-image-wrapper .right-arrow {
    position: absolute;
    width: 50px;
    height: 100%;
    background: url("../images/arrow-right.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 6px center;
    right: 0px;
    cursor: pointer;
}

.chueasy-slider-image-wrapper .left-arrow:hover, 
.chueasy-slider-image-wrapper .right-arrow:hover {
    background-color: black;
    opacity: 0.2;
}

/* slider image */
.chueasy-slider-image-wrapper-v2 {    /* realize an auto-fit square */
    width: 100%;
    position: relative;
}

.chueasy-slider-image-wrapper-v2 img {   /* realize the inner image fitting perfectly */
    width: 100%;
    object-fit: contain;
}

.chueasy-slider-image-wrapper-v2 .left-arrow {
    position: absolute;
    width: 50px;
    height: 100%;
    background: url("../images/arrow-left.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 6px center;
    top: 0px;
    cursor: pointer;
}

.chueasy-slider-image-wrapper-v2 .right-arrow {
    position: absolute;
    width: 50px;
    height: 100%;
    background: url("../images/arrow-right.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 6px center;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.chueasy-slider-image-wrapper-v2 .left-arrow:hover, 
.chueasy-slider-image-wrapper-v2 .right-arrow:hover {
    background-color: black;
    opacity: 0.2;
}

/* magnifier */
.chueasy-magnifier-wrapper {
    position: absolute;
    pointer-events: none;   /* to not respond to mouse events */
    overflow: hidden;
    display: none;
}